# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Florida Organization of Furries
email: florgoffurries@gmail.com
description: "This is the official website/newsletter for the Florida Organization of Furries (FLOOF), a student organization at USF!"
twitter_username: usffloof
github_username: florgoffurries.github.io
minimal_mistakes_skin: "flooftheme"
search: true

favicon: /favicon.ico
logo: "/assets/images/logo.png"

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Stoney D. Bull"
  avatar : "/assets/images/bio-photo.png"
  bio    : "Welcome to the official website/newsletter for the Florida Organization of Furries (FLOOF), a student organization at USF!"
  links:
    - label: "Website (You are here)"
      icon: "fas fa-fw fa-link"
      url: "https://florgoffurries.github.io/"
    - label: "Bullsconnect"
      icon: "fa-solid fa-cow"
      url: "https://bullsconnect.usf.edu/floof/home/"
    - label: "Linktree"
      icon: "fa-brands fa-linktree"
      url: "https://linktr.ee/usffloof"

    - label: "Discord"
      icon: "fa-brands fa-discord"
      url: "https://discord.gg/PEhzuQG5Yv"

footer:
  links:
    - label: "Website (You are here)"
      icon: "fas fa-fw fa-link"
      url: "https://https://florgoffurries.github.io/"
    - label: "Linktree"
      icon: "fa-brands fa-linktree"
      url: "https://linktr.ee/usffloof"
    - label: "Bullsconnect"
      icon: "fa-solid fa-cow"
      url: "https://bullsconnect.usf.edu/floof/home/"
    - label: "Discord"
      icon: "fa-brands fa-discord"
      url: "https://discord.gg/PEhzuQG5Yv"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
