/* ==========================================================================
   Flooftheme skin
   ========================================================================== */

/* Colors */
$background-color: #f3f6f6 !default;
$text-color: #40514e !default;
$muted-text-color: #40514e !default;
$primary-color: #006747 !default;
$border-color: mix(#fff, #40514e, 75%) !default;
$footer-background-color: #006747 !default;
$link-color: #006747 !default;
$masthead-link-color: #fff;
$masthead-link-color-hover: #fff;
$masthead-background-color: #006747;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;
$navicon-background-color: #ffffff;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}





